:root {
  --mainColor1: #0F0A0A;
  --mainColor2: #0F2021;
  --mainColor3: #0F3538;
  --mainColor4: #496767;
  --mainColor5: #87A19E;

  --secondaryColor1: #FF6600;
  --secondaryColor2: #FF9200;
  --secondaryColor3: #FFBE00;
  --secondaryColor4: #F8E08E;
  --secondaryColor5: #FAFAF0;

  --textColor: #EEEEEE;
}
